.DS_Store
__pycache__
*.pyc
*.log
*.old

# Ignore all
/*
/.**

# Whitelist
!/.config/alacritty/alacritty.yml
!/.config/karabiner/karabiner.json
!/.config/lsd/config.yaml
!/.config/starship.toml
!/.config/zsh/
!/.config/wezterm/wezterm.lua
!/.config/efm-langserver/
!/.config/tig/config

# PowerShell
!/.config/powershell/Microsoft.PowerShell_profile.ps1
!/.config/powershell/Modules/winscript/winscript.psm1

# git
!/.config/git/

# Neovim
!/.config/nvim/autoload/
!/.config/nvim/ftplugin/
!/.config/nvim/undo/.gitkeep

# espanso
!/.config/espanso/config
!/.config/espanso/match/base.yml
