.DS_Store
__pycache__
*.pyc
*.log

.vim/*
!.vim/autoload/**
!.vim/templates/**
!.vim/userautoload/**

.config/*
!.config/alacritty/
!.config/starship.toml
!.config/karabiner/karabiner.json
!.config/vscode/setting.json
