*
!*/
!/.gitignore

!/espanso/config/default.yml
!/espanso/match/base.yml
!/fusuma/config.yml
!/ghostty/config
!/git/config
!/git/ignore
!/ideavim/ideavimrc
!/karabiner/karabiner.json
!/mise/config.toml
!/nvim/.luarc.json
!/nvim/filetype.lua
!/nvim/ftplugin/gitconfig.lua
!/nvim/init.lua
!/nvim/lazy-lock.json
!/nvim/undo/.gitkeep
!/powershell/Microsoft.PowerShell_profile.ps1
!/powershell/Modules/Windows/Windows.psm1
!/powershell/powershell.config.json
!/systemd/user/xremap.service
!/tig/config
!/vim/vscode.vim
!/wezterm/wezterm.lua
!/wezterm/utils.lua
!/xremap/xremap.yml
!/zsh/.zshrc
!/zsh/wsl.zsh
