[Desktop Entry]
Name=Obsidian
Exec=/opt/obsidian/Obsidian.AppImage %u
Terminal=false
Type=Application
Icon=/opt/obsidian/obsidian.png
StartupWMClass=obsidian
Categories=Office;
MimeType=text/html;x-scheme-handler/obsidian;
